extends _layout/global_page
include _plugins/message.pug

block head_end


block content
    // ****START**** only for this page
    link(rel="stylesheet", href="./css/form.css")
    link(rel="stylesheet", href="./css/account.css")

    // datepicker 2.0
    link(rel="stylesheet", href="./libraries/datepicker/datepicker.css")
    script(src="./libraries/datepicker/datepicker.js")
    // ****END**** only for this page
    //- +message('all')
    include _base/member-header

    section.container.mt-5
        .widget
            h2.title 個人資料相片
            .row
                .col-12.col-sm-4
                    .box.center-box.sm-box.h-100-box
                        .user-img
                            img(src='./images/user.png')
                .col-12.col-sm-8
                    .box.center-box.sm-box.h-100-box
                        .text 請上傳可清楚顯示面部的照片，有利於房東和房客互相了解喔！
                        .next-btn.sm-btn.primary 上傳照片
        .widget
            h2.title 串連帳號
            .widget-content
                .each-list
                    .title.text-right Google+
                    .link-addr
                        .link-box
                            i.fa.fa-check-circle
                            | 已驗證
                        .link-box
                            | chichinini@gmail.com
                        .cancel-link
                            i.fa.fa-times-circle
                            | 取消連結
                .each-list
                    .title.text-right Facebook
                    .link-addr
                        .unlink
                            i.fa.fa-plus
                            | 新增串連至Facebook
                .each-list
                    .title.text-right WeChat
                    .link-addr
                        .link-box
                            i.fa.fa-check-circle
                            | 已驗證
                        .link-box
                            | chichinini@gmail.com
                        .cancel-link
                            i.fa.fa-times-circle
                            | 取消連結

        form.widget.main-form
            h2.title 個人基本資料
            .widget-content
                .each-list
                    .title.text-right 姓氏
                    .input-box
                        input(type="text")
                .each-list
                    .title.text-right 名字
                    .input-box
                        input(type="text")
                .each-list
                    .title.text-right 性別
                    .input-box
                        input#S1(type="radio", name="sec",)
                        label(for="S1") 男性
                        input#S2(type="radio", name="sec",)
                        label(for="S2") 女性
                .each-list
                    .title.text-right 電子郵件
                    .input-box.w-100
                        input(type="text")
                        .next-btn.primary.xs-btn 
                            | 傳送電子郵件認證&nbsp;&nbsp;〉
                .each-list
                    .title
                    .input-box
                        i.fa.fa-plus
                        | 新增串連至Facebook
                .each-list
                    .title.text-right 電話號碼
                    .input-box
                        input(type="text")
                hr
                .each-list
                    .title.full.text-right 證件一、請提供您的身份證件證反面
                    .input-box
                        .upload-area
                            .row
                                .col-6.dotted-right.text-center
                                    img(src='./images/cloud.svg')
                                .col-6.text-center
                                    img(src='./images/camera.svg')
                                .col-12
                                    .text 拖曳至此上傳，或拍張照吧！
                        .comment 此為隱私資訊，僅供愛豬網審核身份使用。
                hr
                .each-list
                    .title.full.text-right 證件二、請提供您的健保卡、駕照或護照正反面。
                    .input-box
                        .upload-area
                            .row
                                .col-6.dotted-right.text-center
                                    img(src='./images/cloud.svg')
                                .col-6.text-center
                                    img(src='./images/camera.svg')
                                .col-12
                                    .text 拖曳至此上傳，或拍張照吧！
                        .comment 此為隱私資訊，僅供愛豬網審核身份使用。
                hr
                .each-list
                    .title 收款帳號一
                .each-list
                    .title.text-right 銀行代號
                    .input-box
                        input(type="text")
                .each-list
                    .title.text-right 戶名
                    .input-box
                        input(type="text")
                .each-list
                    .title.text-right 收款帳號
                    .input-box
                        input(type="text")
                hr
                .each-list
                    .title 收款帳號二
                .each-list
                    .title.text-right 銀行代號
                    .input-box
                        input(type="text")
                .each-list
                    .title.text-right 戶名
                    .input-box
                        input(type="text")
                .each-list
                    .title.text-right 收款帳號
                    .input-box
                        input(type="text")











