extends _layout/global_page
include _plugins/message.pug

block head_end


block content
    // ****START**** only for this page
    link(rel="stylesheet", href="./css/form.css")
    link(rel="stylesheet", href="./css/desktop.css")

    // datepicker 2.0
    link(rel="stylesheet", href="./libraries/datepicker/datepicker.css")
    script(src="./libraries/datepicker/datepicker.js")
    // ****END**** only for this page
    //- +message('all')
    include _base/member-header

    section.container.mt-4.main-form
        .table-content
            .table-head
                | 總物件數：
                .dollars.mr-4
                    | 138
                | 合計：
                .dollars
                    | 60,000
                | /月
                select.mx-4
                    option 月租從高到低
                    option 月租從低到高
                .next-btn.xs-btn 物件管理
            table.main-table
                thead
                    tr
                        th
                        th
                            .title 地址
                        th
                            .title 租金
                        th
                            .title 出租狀態
                        th
                            .title 展開房源
                tbody
                    tr
                        td
                            .desc
                                img(src="./images/estate-gallery-01.png", alt="")
                        td
                            .desc
                                | 台灣台中市北區進化北路160號
                        td
                            .desc.nowrap
                                | 6,000/月
                        td
                            .desc.nowrap
                                | 1/3
                        td
                            .desc
                                .fa.fa-external-link
                    tr
                        td
                            .desc
                                img(src="./images/estate-gallery-01.png", alt="")
                        td
                            .desc
                                | 台灣台中市北區進化北路160號
                        td
                            .desc.nowrap
                                | 6,000/月
                        td
                            .desc.nowrap
                                | 1/3
                        td
                            .desc
                                .fa.fa-external-link
                    tr
                        td
                            .desc
                                img(src="./images/estate-gallery-01.png", alt="")
                        td
                            .desc
                                | 台灣台中市北區進化北路160號
                        td
                            .desc.nowrap
                                | 6,000/月
                        td
                            .desc.nowrap
                                | 1/3
                        td
                            .desc
                                .fa.fa-external-link
                    tr
                        td
                            .desc
                                img(src="./images/estate-gallery-01.png", alt="")
                        td
                            .desc
                                | 台灣台中市北區進化北路160號
                        td
                            .desc.nowrap
                                | 6,000/月
                        td
                            .desc.nowrap
                                | 1/3
                        td
                            .desc
                                .fa.fa-external-link
                    tr
                        td
                            .desc
                                img(src="./images/estate-gallery-01.png", alt="")
                        td
                            .desc
                                | 台灣台中市北區進化北路160號
                        td
                            .desc.nowrap
                                | 6,000/月
                        td
                            .desc.nowrap
                                | 1/3
                        td
                            .desc
                                .fa.fa-external-link
                    tr
                        td
                            .desc
                                img(src="./images/estate-gallery-01.png", alt="")
                        td
                            .desc
                                | 台灣台中市北區進化北路160號
                        td
                            .desc.nowrap
                                | 6,000/月
                        td
                            .desc.nowrap
                                | 1/3
                        td
                            .desc
                                .fa.fa-external-link
            .table-bottom
                .page-option 
                    i.fa.fa-angle-left
                .page-option.active 1
                .page-option 2
                .page-option 3
                .page-option 4
                .page-option 5
                .page-option 6
                .page-option 7
                .page-option 8
                .page-option 9
                .page-option 10
                .page-option 
                    i.fa.fa-angle-right
                .page-option 
                    i.fa.fa-angle-double-right







