extends _layout/global_page
include _plugins/message.pug
include _mixins/article-mixins.pug

block head_end

block content
    // ****START**** only for this page
    link(rel="stylesheet", href="./css/form.css")

    link(rel="stylesheet", href="./css/reset-password.css")
    //- script(src="./js/login.js")
    // ****END**** only for this page
    //- +message('all')
    .register-wrapper
        form.main-form.register
            .register-head
                .register-tab 重設密碼
            .register-content
                .input-box
                    input#resetUserEmail.input-lg.light-border(type="text" placeholder="電子郵件")
                .input-box
                    .title
                    .content
                        | 輸入您的電子郵件已重設密碼，您將收到一封電子郵件，其中包含有關您重設密碼的說明，如果您在重設密碼時遇到問題，請與
                        a(href="#") 
                            | 我們聯繫
                .input-box
                    a.next-btn(href="#") 重設密碼



