link(rel="stylesheet", href="./css/footer.css")

footer.footer
    .background-primary.padding.text-center
        ul
            li.social
                .row
                    .col-6
                        a(href="#", target="_blank")
                            i.fa.fa-facebook
                        a(href="#", target="_blank")
                            i.fa.icon-line
                        a(href="#", target="_blank")
                            i.fa.fa-wechat
                        a(href="#", target="_blank")
                            i.fa.fa-google-plus
                    .col-6
                        select.select-style
                            option NTD
                            option RMB
                            option USD
                        select.select-style
                            option 繁體中文
                            option 简体中文
                            option English
                    
            li.copyright
                |<!-- © 2018 OOO All Rights Reserved.-->
                <br>
                    |© Copyright 2018 BMD All Rights Reserved
                <br>