link(rel="stylesheet", href="./css/header.css")
script(src="./js/header.js")

header#i2gtrip
    h2#SEO-title 愛豬租屋網選單
    nav.header-container
        .brand
            a.brand-icon(href="home")
                img(src="./images/svg/logo.svg", alt="", width="150", height="auto")
        ul.menu-bar.d-flex.d-end
            li(alt="馬上出租 lease")
                a.option(href="lease")
                    h2.name 馬上出租
            li(alt="服務協助 service")
                a.option(href="service")
                    h2.name 服務協助
            li(alt="房源收藏 favorite")
                a.option(href="favorite")
                    h2.name 房源收藏
            li(alt="我的訊息 message")
                a.option(href="message")
                    h2.name 我的訊息
            li(alt="登入會員 login")
                a.option(href="login")
                    h2.name 登入
        #MBM.menu-bar-mobile(alt="手機選單 hamburger icon")
            h2#SEO-title 愛豬租屋網手機版選單
            a#HI.option
                .hamburger-icon
                    .line-1
                    .line-2
                    .line-3
            nav#MW.menu-wrapper
                ul.menu-container
                    li(alt="首頁 home 手機版")
                        a.menu-each(href="home")
                            h2.option 首頁
                    li(alt="馬上出租 lease 手機版")
                        a.menu-each(href="lease")
                            h2.option 馬上出租
                    li(alt="服務協助 service 手機版")
                        a.menu-each(href="service")
                            h2.option 服務協助
                    li(alt="房源收藏 favorite 手機版")
                        a.menu-each(href="favorite")
                            h2.option 房源收藏
                    li(alt="我的訊息 message 手機版")
                        a.menu-each(href="message")
                            h2.option 我的訊息
                    li(alt="登入會員 login 手機版")
                        a.menu-each(href="login")
                            h2.option 登入

                
                
