link(rel="stylesheet", href="./css/member-header.css")

header#MH.member-header
    h2.SEO-title 愛豬租屋網會員選單
    nav.container(alt="會員選單")
        ul.member-menu-bar
            li(alt="會員首頁")
                a.option(href='desktop') 
                    h2.name 會員首頁
            li(alt="帳戶管理")
                a.option(href='account') 
                    h2.name 帳戶管理
            li(alt="我的資產")
                a.option(href='deposit') 
                    h2.name 我的資產
            li(alt="我的租屋")
                a.option(href='estate-list') 
                    h2.name 我的租屋